/* Ini CSS */
/* Main Header */
.main-header {
    height: 100px;
    padding-top: 32px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background-color: darkgreen;
}
/* Konten Selection */
.selection-content {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}
/* Konten Button */
.selection-btn {
    width: 300px;
    height: 100px;
    align-self: center;
    border: none;
    border-radius: 8px;
}
/* Warna Bisque */
.bisque-color {
    background-color: bisque;
}
/* Warna Putih */
.white-color {
    background-color: white;
}
/* Header Luas Segitiga */
.luas-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    border: 1px solid;
    text-align: center;
    background-color: cornflowerblue;
}
/* Header Keliling Segitiga */
.kel-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    border: 1px solid;
    text-align: center;
    background-color: cornflowerblue;
}
/* Header Luas Jajar Genjang */
.luas-jajargenjang-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    border: 1px solid;
    text-align: center;
    background-color: cornflowerblue;
}
/* Header Keliling Jajar Genjang */
.kel-jajargenjang-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    border: 1px solid;
    text-align: center;
    background-color: cornflowerblue;
}
/* Konten Luas Segitiga */
.luas-segitiga-content {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}
/* Konten Keliling Segitiga */
.kel-segitiga-content {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}
/* Konten Luas Jajar Genjang */
.luas-jajargenjang-content {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}
/* Konten Keliling Jajar Genjang */
.kel-jajargenjang-content {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}
/* Gambar Luas & Keliling Segitiga */
.luas-keliling-segitiga-img {
    height: 300px;
    width: 300px;
    background-image: url("/assets/luas-&-keliling-segitiga.png");
    background-size: cover;
    background-position: center;
    align-self: center;
    display: flex;
}
/* Gambar Luas & Keliling Jajar Genjang */
.luas-keliling-jajargenjang-img {
    height: 300px;
    width: 484px;
    background-image:  url("/assets/luas-&-keliling-jajargenjang.jpg");
    background-size: cover;
    background-position: center;
    align-self: center;
    display: flex;
}
/* Luas Segitiga */
.luassegitiga {
    height: 29px;
    width: 167px;
    background-color: green;
    background-position: center;
    align-self: center;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 0px;
}
/* Keliling Segitiga */
.kelsegitiga {
    height: 29px;
    width: 167px;
    background-color: green;
    background-position: center;
    align-self: center;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 0px;
}
/* Jajar Genjang */
.jajargenjang {
    height: 34px;
    width: 228px;
    background-color: green;
    background-position: center;
    align-self: center;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 0px;
}
/* Boldluas */
.boldluas {
    height: 29px;
    width: 167px;
    background-color: green;
    background-position: center;
    align-self: center;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 0px;
}
/* Boldkel */
.boldkel {
    height: 29px;
    width: 167px;
    background-color: green;
    background-position: center;
    align-self: center;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 0px;
}
/* Form Luas */
.formluas {
    background-color: chartreuse;
    height: 45%;
}
/* Form Keliling */
.formkel {
    background-color: chartreuse;
    height: 45%;
}
/* Form Header Luas Segitiga */
.luas-segitiga-form-header {
    height: 25px;
    width: 300px;
    background-color: green;
    color: white;
    border-radius: 8px;
    align-self: center;
    text-align: center;
}
/* Form Header Luas Jajar Genjang */
.luas-jajargenjang-form-header {
    height: 25px;
    width: 300px;
    background-color: green;
    color: white;
    border-radius: 8px;
    align-self: center;
    text-align: center;
}
/* Form Header Keliling Segitiga */
.kel-segitiga-form-header {
    height: 25px;
    width: 300px;
    background-color: green;
    color: white;
    border-radius: 8px;
    align-self: center;
    text-align: center;
}
/* Form Header Keliling Jajar Genjang */
.kel-jajargenjang-form-header {
    height: 25px;
    width: 300px;
    background-color: green;
    color: white;
    border-radius: 8px;
    align-self: center;
    text-align: center;
}
/* Luas Input Wrapper */
.luas-input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.luas-input-wrapper>input {
    width: 65%;
}
/* Keliling Input Wrapper */
.kel-input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Input */
input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Main Content Segitiga*/
.main-content-segitiga {
    display: flex;
}
.main-content-segitiga>aside {
    flex: 1;
}
/* Main Content Jajar Genjang */
.main-content-jajargenjang{
    display: flex;
}
.main-content-jajargenjang>aside {
    flex: 1;
}
/* Button Resetluas */
.resetluas-btn {
    border-radius: 8px;
}
/* Button Resetkel*/
.resetkel-btn {
    border-radius: 8px;
}
/* Media Screen */
@media only screen and (max-width: 768px) {
    .main-header {
        padding-top: 16px;
        padding-bottom: 25px;
        height: auto;
    }

    .selection-btn {
        width: 100%;
        max-width: 300px;
    }

    .luas-keliling-segitiga-img {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .luas-keliling-jajargenjang-img {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-content-segitiga,
    .main-content-jajargenjang {
        flex-direction: column;
    }

    .luas-input-wrapper,
    .kel-input-wrapper {
        width: 90%;
    }
}